appdirs==1.4.4
astroid==2.4.2
attrs==20.3.0
backcall==0.2.0
black @ git+git://github.com/psf/black@2d0c14989dca41676fc83fb36f2d652cf93fad58
certifi==2020.12.5
click==7.1.2
decorator==4.4.2
distlib==0.3.1
environs==9.3.1
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
greenlet==1.0.0
iniconfig==1.1.1
ipython==7.20.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
marshmallow==3.10.0
mccabe==0.6.1
msgpack==1.0.2
mypy-extensions==0.4.3
nose==1.3.7
packaging==20.9
parso==0.8.1
pathspec==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2020.11.15
pluggy==0.13.1
prompt-toolkit==3.0.14
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.4
pylint==2.6.0
pynvim==0.4.2
pyparsing==2.4.7
pytest==6.2.2
python-dotenv==0.15.0
regex==2020.11.13
six==1.15.0
toml==0.10.2
traitlets==5.0.5
typed-ast==1.4.2
virtualenv==20.4.2
virtualenv-clone==0.5.4
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
